@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

html,
body {
  color: #646262;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f7f7;
}

a {
  text-decoration: none;
  color: #646262;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0rem !important;
}

.bold-text {
  font-weight: bolder;
}

.thin-text {
  font-weight: 300;
}

.blue-text {
  color: #5e54ac;
}

.button-home {
  cursor: pointer;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  padding: 17px 27px;
  font-size: 20px;
  border: 1px solid rgba(100, 98, 99, 0.64);
  min-width: 200px;
}

.button-home.white {
  background-color: white;
  color: #646263;
}

.button-home.yellow {
  background-color: #ffc67c;
  color: white;
  margin-right: 22px;
}

.button-home.yellow:hover {
  background-color: #ffbc65;
}

.button-home.white:hover {
  font-weight: bold;
}

svg > g > g:last-child {
  pointer-events: none;
}

#reactgooglegraph-1 svg {
  overflow: visible !important;
}

.button-white {
  padding: 0.8rem 1rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: solid;
  border-width: thin;
}

.button-white:hover {
  cursor: pointer;
}

.button-white:hover,
.button-white.active,
.active-tab {
  font-weight: 900;
}

.button-white.active {
  border-style: solid;
  border-width: medium;
}

.blue-text {
  cursor: pointer;
  color: rgb(108 187 199);
  font-weight: 500;
  font-style: italic;
}

.blue-text:hover {
  color: #a7d6dd;
}

.button-green {
  background-color: #76e294 !important;
}
