@media (max-width: 1000px) {
  .admin-layout {
    width: 100%;
  }
}

@media (max-width: 900px) {
  header nav {
    padding: 2rem 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .fa-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .navItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav .navItem {
    margin: 0rem !important;
    padding: 1rem !important;
  }
  header nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 799px) {
  .date-container {
    margin-bottom: 0px;
  }
  .date-container .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .day-schedule.card {
    width: 430px;
  }
  .dateRange {
    width: 100%;
  }
  .dateRange .rdrMonth {
    width: 100%;
  }
}

@media (max-width: 470px) {
  day-schedule.card {
    width: 100%;
  }
  .week_schedule-form {
    margin: 0rem;
    min-width: 100%;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
  .admin-bookings .day-schedule-cards .class.wraper {
    width: 100%;
  }
  .subscription-card {
    width: 100%;
    padding: 1rem;
  }
  .admin-layout .header {
    padding: 1.5rem 0rem;
    padding-top: 1.8rem;
  }
  .admin-layout .header a {
    margin: 0rem 1rem;
  }
}

@media (max-width: 400px) {
  .subscription-card {
    width: 100%;
    padding: 1rem;
  }
  .admin-layout .header {
    padding: 1.5rem 0rem;
    padding-top: 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .admin-layout .header a {
    margin: 0rem 1rem;
  }
  .day-schedule.card {
    width: 100%;
  }
  .day-schedule.card .class.wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .day-schedule.card .class.wraper .info-wraper {
    width: 100%;
  }
  .day-schedule.card .class.wraper .button-white {
    width: 100%;
    text-align: center;
    margin: 0px;
  }
}

@media (max-width: 350px) {
  .date-container {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin: 2rem 0rem;
  }
}
/*# sourceMappingURL=media.css.map */