@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
html,
body {
  color: #646262;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #F8F7F7;
}

a {
  text-decoration: none;
  color: #646262;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0rem !important;
}

.button-white {
  padding: 0.8rem 1rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: solid;
  border-width: thin;
}

.button-white:hover {
  border-width: medium;
  cursor: pointer;
}

.button-white:hover,
.button-white.active,
.active-tab {
  font-weight: 900;
}

.button-white.active {
  border-style: solid;
  border-width: medium;
}

.blue-text {
  cursor: pointer;
  color: #6cbbc7;
  font-weight: 500;
  font-style: italic;
}

.blue-text:hover {
  color: #a7d6dd;
}

.day-schedule-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.day-schedule-cards .class.radio {
  border-left-style: solid;
  border-width: thin;
  padding-left: 1rem;
}
.day-schedule-cards .class.radio p {
  margin-bottom: 0px;
}
.day-schedule-cards .closed-sign {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.day-schedule-cards .class.wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0rem;
}
.day-schedule-cards .class.wraper .button-white {
  height: fit-content;
  margin-left: 1.5rem;
}
.day-schedule-cards .class.wraper .buttons-container {
  display: flex;
  flex-direction: column;
}
.day-schedule-cards .class.wraper .buttons-container button {
  margin-bottom: 0.2rem;
}
.day-schedule-cards .class.wraper .info-wraper {
  display: flex;
  align-items: center;
}
.day-schedule-cards .class.wraper .fa-info-circle:hover {
  color: #6CBBC7 !important;
}
.day-schedule-cards .class.wraper .info {
  min-width: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.day-schedule-cards .class.wraper .info p {
  margin-bottom: 0.2rem;
}
.day-schedule-cards .class.wraper .info span {
  font-size: 14px;
}

.day-schedule {
  background-color: #FFFFFF;
  box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 1rem;
  width: fit-content;
  width: 400px;
  margin: 1rem 0rem;
}
.day-schedule img {
  width: 60px;
}
.day-schedule .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.day-schedule h3 {
  font-weight: 400;
  font-size: 30px;
  margin: 1rem 0rem;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
}

.admin-classes-layout .day-schedule-cards .class.radio {
  border-left-style: none;
}
.admin-classes-layout .day-schedule-cards .class.wraper .info {
  border-right-style: solid;
  border-width: thin;
  min-width: 70px;
  padding-right: 1rem;
}
.admin-classes-layout .day-schedule-cards .class.wraper .info p {
  font-weight: 300;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
.admin-classes-layout .day-schedule-cards .class.wraper .info span {
  align-self: flex-end;
}
.admin-classes-layout .day-schedule-cards .class.wraper .info b {
  align-self: flex-end;
  font-size: 13px;
  color: #78999f;
}

header {
  z-index: 3;
  position: relative;
  /* Set min-height to avoid page reflow while session loading */
}
header nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 2rem 5rem;
  box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.04);
  border-radius: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 2rem;
}
header nav .small-menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
header nav .fa-bars {
  display: none;
}
header nav ul {
  width: 1500px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
header nav ul a {
  font-size: 20px;
}
header nav ul a:hover {
  font-weight: 500;
}
header .signedInStatus {
  display: block;
  min-height: 4rem;
  width: 100%;
}
header .loading,
header .loaded {
  color: white;
  position: relative;
  top: 0;
  opacity: 1;
  overflow: hidden;
  padding: 0.6rem 1rem;
  margin: 0;
  background-color: #253239;
  transition: all 0.2s ease-in;
}
header .loading {
  top: -2rem;
  opacity: 0;
}
header .signedInText,
header .notSignedInText {
  position: absolute;
  padding-top: 0.8rem;
  left: 1rem;
  right: 6.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  z-index: 1;
  line-height: 1.3rem;
}
header .signedInText {
  padding-top: 0rem;
  left: 4.6rem;
}
header .avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
header .button,
header .buttonPrimary {
  float: right;
  margin-right: -0.4rem;
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0.7rem 0.8rem;
  position: relative;
  z-index: 10;
  background-color: transparent;
  color: white;
}
header .buttonPrimary {
  background-color: #346df1;
  border-color: #346df1;
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
}
header .buttonPrimary:hover {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
}
header .navItems {
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
}
header .navItem {
  display: inline-block;
  /*  margin-right: 3.5rem; */
}

.subscriptions {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  flex-wrap: wrap;
}
.subscriptions .color {
  width: 100%;
  height: 450px;
  background-color: #CAC6EB;
  z-index: 1;
  position: absolute;
  top: 10%;
}
.subscriptions .radius {
  top: 10%;
  background: linear-gradient(0deg, #F8F7F7 22.16%, rgba(255, 255, 255, 0) 97.61%);
  position: absolute;
  z-index: 2;
  height: 500px;
  width: 100%;
}

.subscription-card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  padding: 3rem;
  width: 400px;
  margin: 1rem;
}
.subscription-card .dlt-button-white {
  padding: 0.6rem 0.8rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  color: #646262;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  border: solid;
  border-width: thin;
}
.subscription-card .dlt-button-white:hover {
  background-color: #FF5D23;
  cursor: pointer;
  color: black;
}
.subscription-card i {
  font-weight: 300;
}
.subscription-card h1 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 0rem;
  text-transform: capitalize;
  text-align: center;
}
.subscription-card hr {
  width: 100%;
  margin: 2rem 0rem;
}
.subscription-card p {
  text-align: center;
}
.subscription-card .price {
  font-weight: bold;
  font-size: 30px;
}
.subscription-card .months {
  color: #C4C4C4;
}
.subscription-card img {
  margin: 1.5rem 0rem;
  max-height: 170px;
}

.subscriptions-admin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.subscriptions-admin h1 {
  margin-top: 1rem;
}

.subscription-card.form .button-white.checked {
  position: absolute;
  top: 0.8rem;
  left: 5rem;
  padding: 0.6rem 0.8rem;
  color: #646262;
  background-color: #76E294;
}
.subscription-card.form .button-white.checked:hover {
  position: absolute;
  top: 0.8rem;
  left: 5rem;
  padding: 0.6rem 0.8rem;
}
.subscription-card.form .form-body {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscription-card.form .form-body hr {
  width: 100%;
}
.subscription-card.form .form-body img {
  margin-top: 0.5rem;
  max-width: 190px;
}
.subscription-card.form .form-body .free-class {
  display: flex;
}
.subscription-card.form .form-body ul {
  padding: 0;
  padding-top: 1rem;
}
.subscription-card.form .form-body ul li {
  list-style: none;
  margin-top: 0.5rem;
}
.subscription-card.form .nr-inputs {
  display: flex;
}

.button-white.admin {
  align-self: baseline;
  margin-left: 1.5rem;
}

.admin-layout {
  background-color: white;
  box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.04);
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  min-height: 500px;
  font-size: 18px;
  border-radius: 15px;
  margin-bottom: 2rem;
}
.admin-layout hr {
  border-color: #efeaea57;
  width: 95%;
}
.admin-layout .header {
  padding: 1.5rem;
  padding-top: 1.8rem;
}
.admin-layout .header a {
  margin: 0rem 2rem;
}

.admin-classes-layout {
  width: 100%;
}
.admin-classes-layout .chart-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
}
.admin-classes-layout .classes-header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: 1rem;
  background-color: #CAC6EB;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.admin-classes-layout .classes-header .button-white {
  margin: 0.5rem;
}
.admin-classes-layout .classes-header aside {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.admin-classes-layout .class-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.admin-clients {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  height: fit-content;
  min-height: 750px;
  margin-bottom: 30px;
}
.date-container .wrapper {
  display: flex;
  align-items: flex-start;
  width: 800px;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.week-schedule.page .day-schedule-cards {
  display: flex;
  justify-content: space-evenly;
}

.dateRange {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.week_schedule-form {
  display: flex;
  margin: 1rem;
  align-items: center;
  background-color: #EDECF4;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  flex-wrap: wrap;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.week_schedule-form .button-white {
  margin-left: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.class-card {
  background: #edecf4;
  height: 320px;
  width: 280px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 25px 25px;
  margin: 20px;
}
.class-card .card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid thin #646262;
  padding-bottom: 10px;
}
.class-card .dlt-button-white {
  padding: 0.6rem 0.8rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  color: #646262;
}
.class-card button:focus {
  outline: 0 !important;
}

.admin-clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  justify-content: space-around;
}

.client-search {
  width: 40%;
}

.form-users {
  display: flex;
  flex-direction: row;
  padding: 2px;
  border: 1px solid #646262;
  height: 51px;
  width: 391px;
  border-radius: 9px;
}
.form-users input {
  flex-grow: 2;
  border: none;
}
.form-users input:focus {
  outline: none;
}
.form-users button {
  color: black;
  border: none;
  background: white;
}

.user-list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-size: 26px;
}
.user-list-items .list-initial {
  background: #edecf4;
  padding: 3px 12px;
  border-radius: 50%;
  color: #646262;
}
.user-list-items .list-name {
  justify-content: start;
  margin-left: 20px;
}
.user-list-items div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client-info {
  display: flex;
  flex-direction: column;
}

.client-chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #646262;
  padding: 0;
}
.client-chart h3 {
  margin: 0 0 30px 0;
}
.client-chart svg {
  height: 150px;
}
.client-chart rect {
  height: 150px;
}
.client-chart rect g:first-of-type {
  height: 100px;
}

.active-booking-card {
  width: 100%;
  height: 136px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #EDECF4;
  margin: 10px 0;
  border-radius: 20px;
}
.active-booking-card .active-bookings-numbers {
  width: 50px;
  height: auto;
  border-right: 1px solid #646263;
  color: #646262;
  padding: 0 5px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-booking-card .active-bookings-numbers p:first-child {
  font-size: 18px;
  margin: 0;
}
.active-booking-card .active-bookings-numbers p:last-child {
  font-size: 13px;
  margin: 0;
}
.active-booking-card .active-bookings-details {
  display: flex;
  flex-direction: column;
  width: 190px;
}
.active-booking-card .active-bookings-details p {
  margin: 0;
  font-size: 19px;
}
.active-booking-card .active-bookings-details p:first-child {
  font-weight: bold;
}
.active-booking-card .active-bookings-details p:last-child {
  font-size: 15px;
}
.active-booking-card .active-bookings-status {
  display: flex;
  flex-direction: column;
}
.active-booking-card .active-bookings-status button {
  margin: 4px;
  height: 42px;
  width: 90px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #646263;
  background: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #646262;
}

.client-last-booking {
  display: flex;
  flex-direction: column;
}
.client-last-booking p {
  margin: 0;
}
.client-last-booking p:first-child {
  font-size: 16px;
}

@media (max-width: 1000px) {
  .admin-layout {
    width: 100%;
  }
}
@media (max-width: 900px) {
  header nav {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  header nav .fa-bars {
    display: flex;
  }
  header nav .navItems {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    justify-content: center;
  }
  header nav .navItem {
    margin: 0rem !important;
    padding: 1rem !important;
  }
  header nav .hamburger {
    display: flex;
  }
}
@media (max-width: 799px) {
  .date-container {
    margin-bottom: 0px;
  }
  .date-container .wrapper {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    width: fit-content;
  }

  .day-schedule.card {
    width: 430px;
  }

  .dateRange {
    width: 100%;
  }
  .dateRange .rdrMonth {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .day-schedule.card {
    width: 100%;
  }
  .day-schedule.card .class.wraper {
    flex-direction: column;
  }
  .day-schedule.card .class.wraper .info-wraper {
    width: 100%;
  }
  .day-schedule.card .class.wraper .button-white {
    width: 100%;
    text-align: center;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .date-container {
    min-height: fit-content;
    margin: 2rem 0rem;
  }
}

/*# sourceMappingURL=style.css.map */
