.preview {
    cursor: "default";
    background: "#FFFFFF";
    display: flex;
    flex-direction: column;
    margin: '0 auto';
    max-width: 680px;
    margin-bottom: 4rem;

    blockquote{
        line-height: 170%;
    }

    ol,
    ul {
        font-family: 'New York Medium', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 170%;
        color: #000000cc;

        li{
            text-transform: capitalize;
            margin-bottom: 0.5rem;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

    img {
        width: 120%;
        align-self: center;
    }
    
    .post-start-line {
        width: 100%;
        border-width: thin;
        border-style: solid;
        margin-top: 33px;
        margin-bottom: 22px;
    }

    .post-end-line {
        width: 100%;
        border: 1px dashed #000000;
        margin-bottom: 33px;
    }
}

.preview,
.editor {
    p {
        font-family: 'New York Medium', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 170%;
        color: #000000cc;
        margin-bottom: 30px;
    }

    h2 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 160%;
        color: #000000cc;
        margin-top: 50px;
    }
}
.preview-header {
    width: 100%;

    img {
        width: 100%;
        height: 900px;
        object-fit: cover;
    }
}

.preview-header-txt {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 54px;
        font-family: 'New York Extra Large', sans-serif;
        max-width: 800px;
        text-align: center;
        color: #000000cc;
        margin-bottom: 30px;
    }

    p {
        font-size: 20px;
        max-width: 620px;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        margin: 0 0 50px;
    }
}

@media(max-width: 820px) {
    .preview {
        padding: 20px 8%;
    }
    .preview-header {
        img {
            height: 500%;
        }
    }

}