.admin-classes-layout {
  width: 100%;

  .chart-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
  }

  .classes-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 1rem;
    background-color: #cac6eb;
    margin-top: 1rem;
    flex-wrap: wrap;

    .button-white {
      margin: 0.5rem;
    }

    aside {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  .class-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.bottomPagination {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      list-style-type: none;
      margin: 5px 10px 30px 10px;

      button {
        padding: 0.8rem 1rem;
        background: white;
        border-radius: 5px;
        border: solid;
        border-width: thin;
      }

      button:hover {
        background: $grayBackground;
      }
    }
  }
}
