.admin-clients {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: space-between;

  .client-search {
    flex: 1;
  }
}

.form-users {
  display: flex;
  flex-direction: row;
  padding: 2px;
  border: 1px solid $darkGreyWriting;
  height: 51px;
  border-radius: 9px;

  input {
    flex-grow: 2;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    color: $darkGreyWriting;
    padding-left: 10px;
  }

  input:focus {
    outline: none;
  }

  button {
    color: black;
    border: none;
    background: white;
  }
}

.user-list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-size: 22px;

  .list-initial {
    background: $grayBackground;
    padding: 3px 12px;
    border-radius: 50%;
    color: $darkGreyWriting;
  }

  .list-name {
    justify-content: start;
    margin-left: 20px;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #arrow {
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 26px;
  }
}

.classSelected {
  font-weight: bolder;

  #arrow {
    cursor: pointer;
    visibility: hidden;
    position: relative;
  }

  #arrow:after {
    background: $grayBackground;
    content: '>';
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
  }
}

.client-chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  h3 {
    margin: 0 0 30px 0;
  }
}

.active-booking-card {
  width: 100%;
  min-height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: #edecf4;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
  padding: 1rem;

  .class-coverage-arrow {
    display: flex;
    align-items: center;
    cursor: pointer;

    .class-coverage-arrow:hover {
      .class-coverag p {
        font-weight: bold;
      }
    }

    p {
      margin: 0rem;
      margin-right: 0.5rem;
      font-weight: 500;
    }
  }

  .class-coverage {
    margin-top: 1rem;
  }

  .class-coverage p {
    margin: 0px;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .converage-desc {
    margin: 0rem;
    margin-left: 0.5rem;

    b {
      color: #5e54ac;
      font-size: 22px;
    }

    i {
      color: #646263a3;
    }
  }

  .wraper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
  }

  .active-bookings-details {
    p {
      word-wrap: break-word;
      margin: 0;
      font-size: 19px;
    }

    p:first-child {
      font-weight: bold;
    }

    p:last-child {
      font-size: 15px;
    }
  }

  .active-bookings-status {
    display: flex;
    flex-direction: column;

    button {
      margin: 4px;
      height: 42px;
      width: 90px;
      padding: 3px;
      border-radius: 5px;
      border: 1px solid #646263;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      color: $darkGreyWriting;
    }

    .buttonPresent {
      background: #33d460;
    }

    .buttonAbsent {
      background: white;
    }

    #buttonInvisible {
      visibility: hidden;
    }
  }
}

.client-last-booking {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.client-subscriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;

  .date {
    font-size: 15px;
    font-style: italic;
    color: #a0a0a0;
  }

  .comboform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }

  .subscriptionform {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    margin-top: 1.1rem;

    .comboSubs {
      width: 100%;
      height: 40px;
      color: $darkGreyWriting;
    }

    button {
      margin: 0 10px;
      height: 40px;
      width: 50px;
      font-size: 36px;
      padding: 0;
      background: white;
      color: $darkGreyWriting;
      border: 1px solid $grayBackground;
      border-radius: 20%;
      font-weight: bolder;
    }

    button:hover {
      border: 1.5px solid black;
      // font-weight: bolder;
    }

    button:active {
      background: $grayBackground;
    }
  }

  .adminsubsection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;

    .admin-subscription-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.25);
      border-radius: 29px;
      padding: 0.5rem;
      width: 222px;
      margin: 0 10px 20px 0;

      .footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0rem 0.7rem 0.5rem;

        span {
          color: #ef6262;
          cursor: pointer;
          text-decoration: underline;
          font-weight: bolder;
        }
      }

      .arrow {
        align-self: self-end;
        margin-top: 0rem;
        cursor: pointer;
      }

      h4 {
        text-align: center;
        margin-bottom: 0.5rem;
        font-weight: 300;
      }

      p {
        margin: 7px;
        font-size: 16px;

        .bold {
          font-weight: bolder;
        }

        .blue {
          color: #5e54ac;
        }
      }

      img {
        margin: 10px 0;
      }

      hr {
        margin: 10px;
      }
    }
  }
}
