.day-schedule-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .class.radio {
        p {
            margin-bottom: 0px;
        }

        border-left-style: solid;
        border-width: thin;
        padding-left: 1rem;
    }

    .closed-sign {
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    .class.wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem 0rem;

        .button-white {
            height: fit-content;
            margin-left: 1.5rem;
        }

        .buttons-container{
            display: flex;
            flex-direction: column;
            button{
                margin-bottom: 0.2rem;
            }
        }

        .info-wraper {
            display: flex;
            align-items: center;
        }
        .fa-info-circle:hover {
            color: #6CBBC7 !important;
        }

        .info {
            p {
                margin-bottom: 0.2rem;
            }

            span {
                font-size: 14px;
            }

            min-width: 57px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}


.day-schedule {
    background-color: #FFFFFF;
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 1rem;
    width: fit-content;
    width: 400px;
    margin: 1rem 0rem;

    img {
        width: 60px;
    }

    .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        font-weight: 400;
        font-size: 30px;
        margin: 1rem 0rem;
    }
}

.dialog-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}