.day-schedule-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .closed-sign{
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    .class.wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem 0rem;

        .button-white {
            height: fit-content;
            margin-left: 1.5rem;
        }
        .info-wraper{
            display: flex;
            align-items: center;
        }
        .info {
            p{
                margin-bottom: 0.2rem;
            }
            span{
                font-size: 14px;
            }
            border-right-style: solid;
            border-right-width: thin;
            /* padding: 0rem 0.5rem; */
            padding-right: 1rem;
            margin-right: 1rem;
            min-width: 57px;
        }
    }
}


.day-schedule {
    background-color: #FFFFFF;
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 1rem;
    width: fit-content;
    width: 400px;
    margin: 1rem 0rem;

    img {
        width: 60px;
    }

    .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        font-weight: 400;
        font-size: 30px;
        margin: 1rem 0rem;
    }
}